<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <!-- Defining Dependency -->
    
	<context:property-placeholder location="classpath:sport.properties"/>
    
    <bean id="myFortune" class="luiz.com.HappyFortuneService"></bean>
    

    <bean id="myCoach" class="luiz.com.HandballCoach">
    <!-- Set up the constructor injection -->
    
    <property name="fortuneService" ref="myFortune"></property>
   	
    
    
    </bean>
    
</beans>





